table {
  border: none;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  /* background-color: #f8f8f8; */
  border: none;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
  border: none !important;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-bottom: 2px solid green !important;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.t-center {
  text-align: center;
}

.f-bold {
  font-weight: bold;
}

#total_price {
  background: #dd5353;
  color: #fff;
  font-weight: bold;
}

.sale-finish button {
  float: right;
  margin-inline-end: 1rem;
  margin-top: 0.7rem;
}

.container {
  width: 94%;
  grid-template-columns: 8.4rem auto;
}

@media screen and (max-width: 900px) {
  .container {
    width: 94%;
    grid-template-columns: 100%;
  }
}

#resume-left {
  width: 25%;
  height: 310px;
}
#resume-right {
  width: 75%;
}
#resume-left h2 {
  width: 100%;
  text-align: center;
}
#resume-left .form-group{
  margin-block: 1rem;
}
#resume-left .form-group label{
  text-align: center;
}
#resume-left .form-group ::placeholder {
  text-align: center; 
}
#resume-left .form-group input {
  margin: 0; 
}

form {
  display: flex;
  gap: 1rem;
}
